<section class="bg-blue">
  {% assign sponsors=site.tags.sponsor %}

  <div class="sponsor-list text-light">

    {% assign groupedsponsors = sponsors | sort: 'level' | group_by:"level"  %}
    {% for group in groupedsponsors %}
      <div class="sponsor-group group-{{site.data.sponsors.classnames[group.name]}}">
        <h3>{{site.data.sponsors.headlines[group.name]}}</h3>
        {% assign posts = group.items | sort: 'title' | sort: 'priority' , 'last'%}
        {% for post in posts %}
          <a href="{{ site.baseurl }}{{ post.permalink }}" class="{{site.data.sponsors.classnames[group.name]}}">
            <img src="{{ site.baseurl }}{{ post.image }}" title="{{ post.title }}">
          </a>
        {% endfor %}
      </div>
    {% endfor %}

  </div>
</section>
