<section class="bg-blue">
  <div class="wrapper">
    <div class="item-100 text-light">
      <h2>Sponsorship</h2>
      <p class="links-light">
        We are currently offering sponsorship opportunities for JSConf EU 2017. <a href="mailto:contact@jsconf.eu">Contact us for details</a>. The great companies below are supporting us in 2017 – Thank you!
      </p>
    </div>
  </div>
  {% assign sponsors=site.tags.sponsor %}

  <div class="sponsor-list text-light">

    {% assign groupedsponsors = sponsors | sort: 'level' | group_by:"level"  %}
    {% for group in groupedsponsors %}
      <div class="sponsor-group group-{{site.data.sponsors.classnames[group.name]}}">
        <h3>{{site.data.sponsors.headlines[group.name]}}</h3>
        {% assign posts = group.items | sort: 'title' | sort: 'priority' , 'last'%}
        {% for post in posts %}
          <a href="{{ site.baseurl }}{{ post.permalink }}" class="{{site.data.sponsors.classnames[group.name]}}">
            <img src="{{ site.baseurl }}{{ post.image }}" title="{{ post.title }}">
          </a>
        {% endfor %}
      </div>
    {% endfor %}

  </div>
</section>
