<section class="bg-blue">
  <div class="wrapper">
    <div class="item-100 text-light">
      <h2>Sponsorship</h2>
      <p class="links-light">
        We are currently offering sponsorship opportunities for JSConf EU 2017. <a href="mailto:contact@jsconf.eu">Contact us for details</a>. These great companies below have supported us at our last event in 2015 – Thank you!
      </p>
    </div>
  </div>
  {% assign sponsors=site.tags.sponsor %}
  <div class="sponsor-list text-light">

    <!--Special and main sponsors-->
    <div class="sponsor-group">
      <h3>Our main sponsors</h3>
      {% for post in sponsors %}
      {% if.post.level == "sponsor-special" %}
      <a href="{{ site.baseurl }}{{ post.permalink }}">
        <img src="{{ site.baseurl }}{{ post.image }}" title="{{ post.title }}">
      </a>
      {% endif %}
      {% endfor %}


      {% for post in sponsors %}
      {% if.post.level == "sponsor-main" %}
      <a href="{{ site.baseurl }}{{ post.permalink }}">
        <img src="{{ site.baseurl }}{{ post.image }}" title="{{ post.title }}">
      </a>
      {% endif %}
      {% endfor %}
    </div>


    <!--Supporting sponsors-->
    <div class="sponsor-group">
      <h3>Our supporting sponsors</h3>
      {% for post in sponsors %}
      {% if.post.level == "sponsor-support" %}
      <a href="{{ site.baseurl }}{{ post.permalink }}" class="supporting">
        <img src="{{ site.baseurl }}{{ post.image }}" title="{{ post.title }}">
      </a>
      {% endif %}
      {% endfor %}
    </div>


    <!--Other sponsors-->
    <div class="sponsor-group">
      <h3>...and more sponsors</h3>
      {% for post in sponsors %}
      {% if.post.level == "sponsor-custom" %}
      <a href="{{ site.baseurl }}{{ post.permalink }}" class="other">
        <img src="{{ site.baseurl }}{{ post.image }}" title="{{ post.title }}">
      </a>
      {% endif %}
      {% endfor %}


      {% for post in sponsors %}
      {% if.post.level == "sponsor-verycustom" %}
      <a href="{{ site.baseurl }}{{ post.permalink }}" class="other">
        <img src="{{ site.baseurl }}{{ post.image }}" title="{{ post.title }}">
      </a>
      {% endif %}
      {% endfor %}
    </div>


  </div>
</section>
